<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

<bean id="myInform" class="es.pildoras.IoC.Informe"></bean>

<bean id="myEmployee" class="es.pildoras.IoC.DirectorEmpleado">
<constructor-arg ref="myInform"></constructor-arg>
</bean>

<bean id="myEmployee2" class="es.pildoras.IoC.JefeEmpleado">
<constructor-arg ref="myInform"></constructor-arg>
</bean>


<bean id="myEmployee3" class="es.pildoras.IoC.SecretarioEmpleado">
	<!-- To set a property, the property name must be the method name without the word "set" and using lower camel case syntax -->
	
	<property name="informeNuevo" ref="myInform"></property>
	<property name="email" value="secretary@company.com"></property>
	<property name="nombreEmpresa" value="company"></property>
</bean>

<bean id="mySecondDirector" class="es.pildoras.IoC.DirectorEmpleado">
	<constructor-arg ref="myInform"></constructor-arg>
	<property name="email" value="management@company.com"></property>
	<property name="nombreEmpresa" value="company"></property>
</bean>



</beans>